{% extends 'base.html' %}
{% block title %}

{% endblock %}

{% block content %}
    <section>
        <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
                {% include 'vacancies/includes/search_form.html' %}
            </div>
        </div>
        <p class="text-center pt-1">Найдено {{ vacancies.count }} вакансий</p>
        <div class="row mt-5">
            <div class="col-12 col-lg-8 offset-lg-2 m-auto">
                {% for vacancy in vacancies %}
                    {% include 'vacancies/includes/vacancy_card.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}