{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Вакансия
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-lg-2">
            <div class="pl-3 mb-5">
                <p><a href="#">Назад</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <section class="pl-3">
                <a href="{% url 'company_vacancies_list_url' object.company.id %}"><img src="{{ object.company.logo.url }}" width="130" height="80" alt=""></a>
                <div class="d-flex align-items-baseline align-content-baseline">
                    <h1 class="h2 mt-4 font-weight-bold" >{{ object.title }}</h1>
                    <p class="m-0 pl-3">{{ object.salary_min }} – {{ object.salary_max }} Р</p>
                </div>
                <p class="mt-2">{{ object.skills}}</p>
                <p class="text-muted mb-4">{{ object.company.title }} ({{ object.company.employee_count }} человек), {{ object.company.location }} или удаленно</p>
                <div style="line-height: 1.8;">
                    {{ object.description }}
                </div>
                {% if request.user.is_authenticated %}
                    {% crispy application_form  %}
                {% else %}
                    <h4 class="mt-5 mb-5"><a href="{% url 'login_url' %}">Авторизуйтесь,</a> чтобы отправить отклик</h4>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}