<div class="card mb-4">
    <div class="card-body px-4">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9">
                <h2 class="h2 pb-2">{{ vacancy.title }}</h2>
                <p class="mb-2">{{ vacancy.skills }}</p>
                <p class="text-muted pt-1">{{ vacancy.published }}</p>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                <img src="https://place-hold.it/130x80" width="130" height="80" alt="">
            </div>
        </div>
    </div>
</div>